* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.row {
    background-color: pink;
}

.container>.row>[class*="col-"] {
    border: 1px solid black;
    height: 180px;

}

[class*="col-"] {
    position: relative;
}

span {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container>.row>[class*="col-"]>.row>[class*="col-"] {
    border: 1px solid white;
    background-color: palevioletred;
    height: 158px;
}

.container>.row>[class*="col-"]>.row {
    padding: 10px;
}