* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.row {
    background-color: pink;
}

.container>.row>[class*="col-"] {
    border: 1px solid black;
}

[class*="col-"] {
    text-align: center;
}

span {
    display: inline-block;
    padding: 70px 0;
}

.container>.row>[class*="col-"]>.row>[class*="col-"] {
    border: 1px solid white;
    background-color: palevioletred;
}

.container>.row>[class*="col-"]>.row {
    padding: 10px;
}